/* Use this css file for general styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
}

/* First section start */
#hero {
    height: 80vh;
    background-image: linear-gradient(rgba(4,9,30,0.4),rgba(4,9,30,0.4)), url(../assets/bg_img.jpg);
    background-position: center;
    background-size: cover;
}
#hero .container {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    padding-block: 40px;
    position: relative;
}
nav {
    margin: 0 auto;
    padding: 10px 40px;
    border-radius: 20px;
    background-color: white;
}
nav ul li:nth-child(4) {
    border: 2px solid;
    padding: 5px 10px;
    font-family: sans-serif;
    font-weight: bold;
}
nav ul li:nth-child(4) span {
    color: cadetblue;
}
nav ul li:not(:nth-child(4)) {
    padding: 10px;
    border-radius: 10px;
    transition: all .5s ease-in-out;
    font-weight: 500;
}
nav ul li.active {
    background-color: rgb(55, 146, 207);
    color: white;
}
nav ul li:not(:nth-child(4)) {
    cursor: pointer;
}
nav ul li:not(.active,:nth-child(4)):hover {
    background-color: rgba(42, 136, 165, 0.555);
    color: white;
}
.hambugger {
    display: none;
}
.text-content {
    position: absolute;
    bottom: 20%;
}
.text-content p {
    font-size: clamp(45px, 6vw, 59px);
    color: white;
    font-weight: 800;
}
/* First section end */


/* Second Section Styling Starts */
#book-room {
    padding: 3rem 20px;
}
.book-room-container {
    width: 100%;
    max-width: 1000px;
    background-color: rgba(171, 200, 212, 0.274);
    margin: 20px auto;
    padding: 2rem;
    border-radius: 30px;
    text-align: center;
}
.action-item {
    margin-top: 20px;
}
.book-room-container .action-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.action-item-wrapper {
    text-align: start;
}
.action-item-action {
    display: flex;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    margin-top: .5rem;
}
.action-item-action .second-action-item {
    display: flex;
    gap: 10px;
}
.second-action-item-item {
    display: flex;
}
.second-action-item-item p {
    margin-left: 10px;
}
.action-item-action:nth-child(1), .action-item-action:nth-child(2) {
    background-color: white;
    padding: 10px;
}
.book-btn {
    background-color: rgb(55, 146, 207);
    padding: 10px;
    border-radius: 10px;
    margin-top: .5rem;
    padding-inline: 1rem;
}
.book-btn a {
    color: white;
    font-weight: bold;
}
/* Second Section Styling Ends */
